<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
<script src="/static/js/jquery.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
        var fl = "{{ flag }}";
        var f = false;
        var Latitude=0.0;
        var Longitude=0.0;
        function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    }
                    else {
                        alert("无法获取您的位置！");
                    }
                }
        if(fl == ''){
                getLocation();

                function showPosition(position) {
                    Latitude = position.coords.latitude;
                    Longitude= position.coords.longitude;
                    f = true;
                    window.location.href="/storelist?lat="+Latitude+"&lng="+Longitude;
                }
                if(f == false) {
                     window.location.href="/storelist?flag="+0;
                }
        }


            $(".cityButton").each(function(){
                $(this).click(function(){
                    cityId = $(this).attr('id');
                    alert(Latitude+"1111111"+Longitude);
                    f = true;
                    window.location.href="citystorelist?lat="+Latitude+"&lng="+Longitude+"&cityid="+cityId+"&flag="+0;
                });
            })
        });
</script>
</head>
<body>
<header>
    <a href="#" type="button">返回</a>

    <h1>妙巴黎全国门店信息</h1>
</header>
<section>
    <div>
        <button id="1"  class="cityButton">北京</button>
        <button id="2"  class="cityButton">上海</button>
        <button id="3"  class="cityButton">杭州</button>
        <button id="4"  class="cityButton">广州</button>
        <button id="5"  class="cityButton">长沙</button>
        <br>
        <button id="6"  class="cityButton">香港</button>
        <button id="7"  class="cityButton">苏州</button>
        <button id="8"  class="cityButton">南京</button>
        <button id="9"  class="cityButton">武汉</button>
        <button id="10"  class="cityButton">成都</button>
    </div>
    <div>
        <input type="text" placeholder="请输入搜索信息"/>
        <a href="#" type="button">搜索</a>
    </div>
{% if markd != 'first' %}
    {% if stores_count == 1 %}
        <div>
            {{ store.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距离{{ store.distance }}米
            <br>
            地址：{{ store.address }}
        </div>
    {% elif stores_count > 1 %}
        {% for a in store %}
            <div>
                {{ a.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;距离{{ a.distance }}米
                <br>
                地址：{{ a.address }}
            </div>
        {% endfor %}
    {% else %}
        <div>

        </div>
    {% endif %}
{% endif %}
</section>
</body>

</html >